/* ==========================================
                Truck Icon
   ========================================== */

    .icon-truck {
            -webkit-mask-image: url('../icons/automotive/truck.svg');
            mask-image: url('../icons/automotive/truck.svg');  
    }

/* ==========================================
                    Truck Fast
   ========================================== */

    .icon-truck-fast {
        -webkit-mask-image: url('../icons/automotive/truck-fast.svg');
        mask-image: url('../icons/automotive/truck-fast.svg');  
    }