/* ==========================================
                Check
   ========================================== */

    .icon-check-icon {
        -webkit-mask-image: url('../icons/editing/check.svg');
        mask-image: url('../icons/editing/check.svg');  
    }

/* ==========================================
                Cicle Check
   ========================================== */

    .icon-cicle-check {
        -webkit-mask-image: url('../icons/editing/cicle-check.svg');
        mask-image: url('../icons/editing/cicle-check.svg');  
    }