/* ==========================================
                Clock Money
   ========================================== */

    .icon-clock-money {
        -webkit-mask-image: url('../icons/humanitarian/clock-money.svg');
        mask-image: url('../icons/humanitarian/clock-money.svg');  
    }

/* ==========================================
                People group
   ========================================== */

    .icon-people-group {
        -webkit-mask-image: url('../icons/humanitarian/people-group.svg');
        mask-image: url('../icons/humanitarian/people-group.svg');  
    }