/* ==========================================
                Airbnb Logo
   ========================================== */

    .icon-airbnb {
        -webkit-mask-image: url('../icons/logos/airbnb.svg');
        mask-image: url('../icons/logos/airbnb.svg');
    }

/* ==========================================
                algolia Logo
   ========================================== */

    .icon-algolia {
        -webkit-mask-image: url('../icons/logos/algolia.svg');
        mask-image: url('../icons/logos/algolia.svg');
    }

/* ==========================================
                amazon Logo
   ========================================== */

    .icon-amazon {
        -webkit-mask-image: url('../icons/logos/amazon.svg');
        mask-image: url('../icons/logos/amazon.svg');
    }

/* ==========================================
                Apple Logo
   ========================================== */

    .icon-apple {
        -webkit-mask-image: url('../icons/logos/apple.svg');
        mask-image: url('../icons/logos/apple.svg');
    }

/* ==========================================
                cloudflare Logo
   ========================================== */

    .icon-cloudflare {
        -webkit-mask-image: url('../icons/logos/cloudflare.svg');
        mask-image: url('../icons/logos/cloudflare.svg');
    }

/* ==========================================
                discord Logo
   ========================================== */

    .icon-discord {
        -webkit-mask-image: url('../icons/logos/discord.svg');
        mask-image: url('../icons/logos/discord.svg');
    }

/* ==========================================
                docker Logo
   ========================================== */

    .icon-docker {
        -webkit-mask-image: url('../icons/logos/docker.svg');
        mask-image: url('../icons/logos/docker.svg');
    }

/* ==========================================
                dropbox Logo
   ========================================== */

    .icon-dropbox {
        -webkit-mask-image: url('../icons/logos/dropbox.svg');
        mask-image: url('../icons/logos/dropbox.svg');
    }

/* ==========================================
                facebook Logo
   ========================================== */

    .icon-facebook {
        -webkit-mask-image: url('../icons/logos/face');
        mask-image: url('../icons/logos/face');
    }

/* ==========================================
                figma Logo
   ========================================== */

    .icon-figma {
        -webkit-mask-image: url('../icons/logos/figma.svg');
        mask-image: url('../icons/logos/figma.svg');
    }

/* ==========================================
                github Logo
   ========================================== */

    .icon-github {
        -webkit-mask-image: url('../icons/logos/github.svg');
        mask-image: url('../icons/logos/github.svg');
    }

/* ==========================================
                google Logo
   ========================================== */

    .icon-google {
        -webkit-mask-image: url('../icons/logos/google.svg');
        mask-image: url('../icons/logos/google.svg');
    }

/* ==========================================
                inkedin Logo
   ========================================== */

    .icon-inkedin {
        -webkit-mask-image: url('../icons/logos/inkedin.svg');
        mask-image: url('../icons/logos/inkedin.svg');
    }

/* ==========================================
                instagram Logo
   ========================================== */

    .icon-instagram {
        -webkit-mask-image: url('../icons/logos/instagram.svg');
        mask-image: url('../icons/logos/instagram.svg');
    }

/* ==========================================
                kick Logo
   ========================================== */

    .icon-kick {
        -webkit-mask-image: url('../icons/logos/kick.svg');
        mask-image: url('../icons/logos/kick.svg');
    }

/* ==========================================
                MacDonals Logo
   ========================================== */

    .icon-macdonals {
        -webkit-mask-image: url('../icons/logos/macDonals.svg');
        mask-image: url('../icons/logos/macDonals.svg');
    }

/* ==========================================
                microsoft Logo
   ========================================== */

    .icon-microsoft {
        -webkit-mask-image: url('../icons/logos/microsoft.svg');
        mask-image: url('../icons/logos/microsoft.svg');
    }

/* ==========================================
                nike Logo
   ========================================== */

    .icon-nike {
        -webkit-mask-image: url('../icons/logos/nike.svg');
        mask-image: url('../icons/logos/nike.svg');
    }

/* ==========================================
                openbox Logo
   ========================================== */

    .icon-openbox {
        -webkit-mask-image: url('../icons/logos/openbox.svg');
        mask-image: url('../icons/logos/openbox.svg');
    }

/* ==========================================
                paypal Logo
   ========================================== */

    .icon-paypal {
        -webkit-mask-image: url('../icons/logos/paypal.svg');
        mask-image: url('../icons/logos/paypal.svg');
    }

/* ==========================================
                pied-piper-hat Logo
   ========================================== */

    .icon-pied-piper-hat {
        -webkit-mask-image: url('../icons/logos/pied-piper-hat.svg');
        mask-image: url('../icons/logos/pied-piper-hat.svg');
    }

/* ==========================================
                reddit Logo
   ========================================== */

    .icon-reddit {
        -webkit-mask-image: url('../icons/logos/reddit.svg');
        mask-image: url('../icons/logos/reddit.svg');
    }

/* ==========================================
                reddit Logo
   ========================================== */

    .icon-reddit {
        -webkit-mask-image: url('../icons/logos/reddit.svg');
        mask-image: url('../icons/logos/reddit.svg');
    }

/* ==========================================
                shopify Logo
   ========================================== */

    .icon-shopify {
        -webkit-mask-image: url('../icons/logos/shopify.svg');
        mask-image: url('../icons/logos/shopify.svg');
    }

/* ==========================================
                slack Logo
   ========================================== */

    .icon-slack {
        -webkit-mask-image: url('../icons/logos/slack.svg');
        mask-image: url('../icons/logos/slack.svg');
    }

/* ==========================================
                Tiktok Logo
   ========================================== */

    .icon-tiktok {
        -webkit-mask-image: url('../icons/logos/tiktok.svg');
        mask-image: url('../icons/logos/tiktok.svg');
    }

/* ==========================================
                Twich Logo
   ========================================== */

    .icon-twich {
        -webkit-mask-image: url('../icons/logos/twich.svg');
        mask-image: url('../icons/logos/twich.svg');
    }

/* ==========================================
                wordpress Logo
   ========================================== */

    .icon-wordpress {
        -webkit-mask-image: url('../icons/logos/worldpress.svg');
        mask-image: url('../icons/logos/worldpress.svg');
    }

/* ==========================================
                    x
   ========================================== */

    .icon-x{
        -webkit-mask-image: url('../icons/logos/x.svg');
        mask-image: url('../icons/logos/x.svg');
    }

/* ==========================================
                    Youtube
   ========================================== */

    .icon-youtube{
        -webkit-mask-image: url('../icons/logos/youtube.svg');
        mask-image: url('../icons/logos/youtube.svg');
    }