/* ==========================================
                    Bill
   ========================================== */

    .icon-bill {
        -webkit-mask-image: url('../icons/maps/money-bill.svg');
        mask-image: url('../icons/maps/money-bill.svg');
    }

/* ==========================================
                    Magnifying Glass
   ========================================== */

    .icon-magnifying-glass {
        -webkit-mask-image: url('../icons/maps/magnifying-glass.svg');
        mask-image: url('../icons/maps/magnifying-glass.svg');
    }
/* ==========================================
                    Bomb
   ========================================== */

    .icon-bomb {
        -webkit-mask-image: url('../icons/maps/bomb.svg');
        mask-image: url('../icons/maps/bomb.svg');
    }

/* ==========================================
                Cart Shopping
   ========================================== */

    .icon-cart-shopping {
        -webkit-mask-image: url('../icons/maps/cart-shopping.svg');
        mask-image: url('../icons/maps/cart-shopping.svg');
    }