/* ==========================================
                    user
   ========================================== */

    .icon-user {
        -webkit-mask-image: url('../icons/social/user.svg');
        mask-image: url('../icons/social/user.svg');
    }

/* ==========================================
                    Circle User
   ========================================== */

    .icon-circle-user {
        -webkit-mask-image: url('../icons/social/circle-user.svg');
        mask-image: url('../icons/social/circle-user.svg');
    }